body{


  background-image: url('image.jpeg');
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; 

}

.container{

    padding: 50px;
    align-content: center;


}


.town{


}
